
.errorMessage{
	color:red;
}
.actionMessage{
	color:red;
}

.banner-bg {
    padding: 260px 80px;
    position: relative;
    background: url(../img/mcbair.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
    color:red;
}
#top{
	color:red;
}